body {
  background-color: gray;
  padding: 0;
  margin: 0;
}

.catalog {
  margin: auto;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
  grid-gap: 10px;
}

.catalog__product {
  max-height: 250px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.catalog__photo {
  max-height: 160px;
  max-width: 250px;
  background-color: white;
}

.catalog__photo img {
  max-height: 160px;
  max-width: 250px;
  margin: auto;
}
